apiVersion: v1
kind: Config
clusters:
- name: "aclab"
  cluster:
    server: "https://acl.csie.ntut.edu.tw:3000/k8s/clusters/c-c4w72"
- name: "aclab-aclab-web-server"
  cluster:
    server: "https://140.124.181.76:6443"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3akNDQ\
      WFxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFTTVJBd0RnWURWUVFERXdkcmRXSmwKT\
      FdOaE1CNFhEVEU1TURReU1qQXlOVGd5TlZvWERUSTVNRFF4T1RBeU5UZ3lOVm93RWpFUU1BNEdBM\
      VVFQXhNSAphM1ZpWlMxallUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ\
      0VCQU9NcjlCVjZGYlA3CnBIVjhIa204S0tPcEljczNuUU1DcTJXZVhnRlh4Q3dQMnE5K3dMTGVRV\
      E16UENRYWd4Y25kSjZKT2loTzRzSlgKT3N1TzU1R1lBakx6MXNUeVJhZjNvQWh4Y1hVVWZpaUVTc\
      0cxMkdrNU5BQ1BwQVdSdWZJa2JEQnZ3bHBDNTNxVwpsTUhUTkV4VWhXZk11NDNBSnRTSjB3YnlrT\
      lNZczFDLzc3TmloZXZRZUtKRDBEY3lhR09IMGxQUXhSaWlFS055Cm00bnBBdkc3NVdwU2hhUkprc\
      S9tTWNvVXVtdjZmRnhzQ3kybWlXd25IZWJ6WnI3dGxXdXJPUXp1VHZVQzk5V3QKcElubjBaa3dZY\
      lcrRW9kV2MvN1VrTWN1T1ZnL3UwTHQ0R2lnNzh4K3RpNm1JaklOZEtnRXBmV05yUVpxZUxzbgpRO\
      E1XaUNaL1FaVUNBd0VBQWFNak1DRXdEZ1lEVlIwUEFRSC9CQVFEQWdLa01BOEdBMVVkRXdFQi93U\
      UZNQU1CCkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBQ0M0cG5VeHA2UGE2SFRUVzZSS0tYM\
      npsMlU4OTVMSDZqUG0KL3ExdDhxN1FTeDRxNUxncytYQnNUdFNKWjNCUi9kY0FnMW9MRU54R280T\
      URYWVpOQ2trUXJMK0VlVmZ2OVRyaApqRitLZ0JpN09sQ0RwNHlMR0dTY2p6bFFROGgxL1kxck1QK\
      0xUSmU1YjkvcnAvamFpLzZ3U2IrTWU4TXlKVmxSCkw1bGNlSC9WWUdJSkN2OGFnbHhjUmFoemRoV\
      FNtejJBRS9FbmlCcytnSnJlRjYyTlVDaWxkSHUxMWVET0tGNGoKRUh0WWwyd2Z6dlZzdE5UaTlsU\
      TBFbVlUdU9vYmNlbjE4aEN4MzlaWEtmeThVNEdHMlh5b2VWc3NlSFJqNU9QVgpkZjVLaUJpRmxlc\
      kdyZTIyblFwazV1K1ZTRm1RRUZNSWpGSXRrMENlYVQycVRmOC9EWms9Ci0tLS0tRU5EIENFUlRJR\
      klDQVRFLS0tLS0K"

users:
- name: "u-hftpp"
  user:
    token: "kubeconfig-u-hftpp.c-c4w72:kzlbdz8n5bwh9mlpm7nxm6bm45f462427qddxql62vrpgfd7984xfp"

contexts:
- name: "aclab"
  context:
    user: "u-hftpp"
    cluster: "aclab"
- name: "aclab-aclab-web-server"
  context:
    user: "u-hftpp"
    cluster: "aclab-aclab-web-server"

current-context: "aclab"
