apiVersion: v1
kind: Config
clusters:
- name: "wei"
  cluster:
    server: "https://acl.csie.ntut.edu.tw:3000/k8s/clusters/c-fhjcs"
- name: "wei-wei-server"
  cluster:
    server: "https://140.124.181.70:6443"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3akNDQ\
      WFxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFTTVJBd0RnWURWUVFERXdkcmRXSmwKT\
      FdOaE1CNFhEVEU1TURReE1qQTJORGN3TUZvWERUSTVNRFF3T1RBMk5EY3dNRm93RWpFUU1BNEdBM\
      VVFQXhNSAphM1ZpWlMxallUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ\
      0VCQUo2dmtQNktINnUxClY1LzFraHFlUnB3MXdCS25OYzVMbVl6allEYnhQVkUvUCt1UWNkNFNob\
      EtPN3h2cXo5SDdzT3o5b2ZtRFArRXUKdFpnWkhaZDdhRTg5a1kzUmtTSG5hSGZMb3MxL2ZpWFNDM\
      EVnb0dYZERzNjRIVHFRN2F6OFpsS3ZWeDZEUURtZwpNWGxTdUQ3QWVSRlJ3VlEyak84SHpYbnhHc\
      DNwVENRTENqdjJzMzJ2cGppdVhtZ0hlTDBqNTA5ZVpQU2hWb2VvCnMvem9sWVFiNkdTeklWaFAvK\
      1BhZWZ2VUQyM3hVL1pVVTRWYTNBUlBOM0lLY09lNktsbWxzdERXWFhSYmdBR2QKQ3dNc1YyWEk3M\
      3dyTU92aktCRFpCNlZaRlNhU0YzQ3llaXhDdTVIdERObUdnTm9wNDQraUJHNDR3Tm5sUGwwOApIc\
      UU1T2RKWEpZMENBd0VBQWFNak1DRXdEZ1lEVlIwUEFRSC9CQVFEQWdLa01BOEdBMVVkRXdFQi93U\
      UZNQU1CCkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBSk9qdStlaWJCb1NIck84Q2FDUXB6b\
      EZSMHM3bjhvUWlXVDIKaTV2dnJXeTFnbzZDV0lOM1NKM3VqQmNYUlpKOUM1ajRZRThyUUE3R0NDL\
      3lyTSs2QVNKdWM1MThCV2d1M3ZOaApqQUo4aXgvUzVRQ3hUYXRjVUpiaXhqZEpTaFBHS1JKTnduS\
      E5veS8xdlNvRXF2SjFKeWNtTVdoMkYzSWxQTE1JCnUvcXF3U3YyQlF1d05CeDZzVmFOSHVOc0Y3Y\
      mY5SVVqZDRDQ3dDZE1kUWJVTHFDWmRlN2ZvaU5ZNHhhNmVyT1UKT1d4dUQ4dlNoek9CaHR1aWk4c\
      XJVR1lDNFVaUUpVeHVCT1B1aHhiaHBubEJmbkFocDkyM0I2T0hkL1dkNTR2Lwp3NnpLL3FRT2lNL\
      zFvVDgvd2l2VWVud3ZHODFPYnlXSHRKN2JoalluR0dGc1Q1U2xBSFk9Ci0tLS0tRU5EIENFUlRJR\
      klDQVRFLS0tLS0K"

users:
- name: "u-jk9tp"
  user:
    token: "kubeconfig-u-jk9tp.c-fhjcs:r88g4zj9zhzb7jdk58zv6xcjz4z2cfflkd7qpn7wxjn648fvcmtzxk"

contexts:
- name: "wei"
  context:
    user: "u-jk9tp"
    cluster: "wei"
- name: "wei-wei-server"
  context:
    user: "u-jk9tp"
    cluster: "wei-wei-server"

current-context: "wei"
