apiVersion: v1
kind: Config
clusters:
- name: "aclab"
  cluster:
    server: "https://acl.csie.ntut.edu.tw:3000/k8s/clusters/c-6rfmm"
    api-version: v1

users:
- name: "u-rhv7d"
  user:
    token: "kubeconfig-u-rhv7d:frq89j7m796jxjbbkbshb25cpvx2p9nc6g56vfrd4cgdmld5lqb4wf"

contexts:
- name: "aclab"
  context:
    user: "u-rhv7d"
    cluster: "aclab"

current-context: "aclab"
