apiVersion: v1
kind: Config
clusters:
- name: "aclab"
  cluster:
    server: "https://acl.csie.ntut.edu.tw:3000/k8s/clusters/c-srzf4"
- name: "aclab-aclab-rancher2"
  cluster:
    server: "https://140.124.181.78:6443"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3akNDQ\
      WFxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFTTVJBd0RnWURWUVFERXdkcmRXSmwKT\
      FdOaE1CNFhEVEU1TURNeU9URTBNakExTVZvWERUSTVNRE15TmpFME1qQTFNVm93RWpFUU1BNEdBM\
      VVFQXhNSAphM1ZpWlMxallUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ\
      0VCQUxiVFF1b0NqYnBkCjVlV2s5VlhucmN3dUlmd20zYTVFbnRZZmJ3dDNteVpXSEhGdmM1M2g2M\
      lFSeUNjbUR2Zk40b1BTODh5Q2VVNzgKV3g1U1Y2L2Y5dzMxYnpidjJXK3hwL1ZpblhFVkpXRHh6S\
      WZ2VitsVEhuaVdQUTFad2JVc21mNG9mODUxWUV0aworMUVpc1o0N3JuWVB0SjVuV05zWVVxT3E2R\
      kZ2Nm1Yb1JCeGFla0lvcitBRVZHMGw3aExjM05GQ3ZWWjd2cmFsCnhWZ0hGZWE1Q2FjemFyY0lQW\
      VljS0x4ZVlTd21FcGcvOHd2c0k5RDErb3h5ZmloNHhjejJ2NkpHQ09jM0IzaUYKaGFZTDRQQVRkR\
      085ZHFoamVDV204MmxkQlBsbFV6OVBGRkJTcUwzUnJRT3hEOWEyYnNRek9CMUtiSWY1aEQzeQpId\
      XZ5Y2luUDhBMENBd0VBQWFNak1DRXdEZ1lEVlIwUEFRSC9CQVFEQWdLa01BOEdBMVVkRXdFQi93U\
      UZNQU1CCkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBQWI4UWtCaWt3d1RuejBsSnllZ0pET\
      DFOS3ZwRGRMVDEvbDAKdXMrMldvSTZGTTlyWml1VjVHQlNjcVg4cFJsYW1Cc2NOWStWek9zN2RmN\
      Uo2V0MyZ3VadjNSVDB0TWxod3RkNQo2SmkzU2d1WDlnZWJDMkFLU1NFL3BCMkJybkUrWDA5RnpFU\
      VVXbytpemRneTliMXF4em5nWXd2eTJGSTRyMmQ3CmtxZm5SamxRR3Z1YlAyazJNZTBybGZhYUJyY\
      y9XREZCWGNnU3E1WWFUTDZqOXVtRXZ1cVVaMUdWMnk0STNEQlMKWEVXNVRXUjdLV3lpQnlFeU9aU\
      kx1eEJwMVkzeWpPWUhkREYxYUl1RjJCUTVTM0hzd3NsZG05VlIvd2JIWHgxdgpXOHhsV0hRUGo1T\
      2ZPTkpJZ2RpSEtsUklTVkxYU1prQTIydjlvVFBCVStWU1lQc3I4a2s9Ci0tLS0tRU5EIENFUlRJR\
      klDQVRFLS0tLS0K"
- name: "aclab-aclab-rancher1"
  cluster:
    server: "https://140.124.181.77:6443"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3akNDQ\
      WFxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFTTVJBd0RnWURWUVFERXdkcmRXSmwKT\
      FdOaE1CNFhEVEU1TURNeU9URTBNakExTVZvWERUSTVNRE15TmpFME1qQTFNVm93RWpFUU1BNEdBM\
      VVFQXhNSAphM1ZpWlMxallUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ\
      0VCQUxiVFF1b0NqYnBkCjVlV2s5VlhucmN3dUlmd20zYTVFbnRZZmJ3dDNteVpXSEhGdmM1M2g2M\
      lFSeUNjbUR2Zk40b1BTODh5Q2VVNzgKV3g1U1Y2L2Y5dzMxYnpidjJXK3hwL1ZpblhFVkpXRHh6S\
      WZ2VitsVEhuaVdQUTFad2JVc21mNG9mODUxWUV0aworMUVpc1o0N3JuWVB0SjVuV05zWVVxT3E2R\
      kZ2Nm1Yb1JCeGFla0lvcitBRVZHMGw3aExjM05GQ3ZWWjd2cmFsCnhWZ0hGZWE1Q2FjemFyY0lQW\
      VljS0x4ZVlTd21FcGcvOHd2c0k5RDErb3h5ZmloNHhjejJ2NkpHQ09jM0IzaUYKaGFZTDRQQVRkR\
      085ZHFoamVDV204MmxkQlBsbFV6OVBGRkJTcUwzUnJRT3hEOWEyYnNRek9CMUtiSWY1aEQzeQpId\
      XZ5Y2luUDhBMENBd0VBQWFNak1DRXdEZ1lEVlIwUEFRSC9CQVFEQWdLa01BOEdBMVVkRXdFQi93U\
      UZNQU1CCkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBQWI4UWtCaWt3d1RuejBsSnllZ0pET\
      DFOS3ZwRGRMVDEvbDAKdXMrMldvSTZGTTlyWml1VjVHQlNjcVg4cFJsYW1Cc2NOWStWek9zN2RmN\
      Uo2V0MyZ3VadjNSVDB0TWxod3RkNQo2SmkzU2d1WDlnZWJDMkFLU1NFL3BCMkJybkUrWDA5RnpFU\
      VVXbytpemRneTliMXF4em5nWXd2eTJGSTRyMmQ3CmtxZm5SamxRR3Z1YlAyazJNZTBybGZhYUJyY\
      y9XREZCWGNnU3E1WWFUTDZqOXVtRXZ1cVVaMUdWMnk0STNEQlMKWEVXNVRXUjdLV3lpQnlFeU9aU\
      kx1eEJwMVkzeWpPWUhkREYxYUl1RjJCUTVTM0hzd3NsZG05VlIvd2JIWHgxdgpXOHhsV0hRUGo1T\
      2ZPTkpJZ2RpSEtsUklTVkxYU1prQTIydjlvVFBCVStWU1lQc3I4a2s9Ci0tLS0tRU5EIENFUlRJR\
      klDQVRFLS0tLS0K"
- name: "aclab-aclab-rancher3"
  cluster:
    server: "https://140.124.181.74:6443"
    certificate-authority-data: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN3akNDQ\
      WFxZ0F3SUJBZ0lCQURBTkJna3Foa2lHOXcwQkFRc0ZBREFTTVJBd0RnWURWUVFERXdkcmRXSmwKT\
      FdOaE1CNFhEVEU1TURNeU9URTBNakExTVZvWERUSTVNRE15TmpFME1qQTFNVm93RWpFUU1BNEdBM\
      VVFQXhNSAphM1ZpWlMxallUQ0NBU0l3RFFZSktvWklodmNOQVFFQkJRQURnZ0VQQURDQ0FRb0NnZ\
      0VCQUxiVFF1b0NqYnBkCjVlV2s5VlhucmN3dUlmd20zYTVFbnRZZmJ3dDNteVpXSEhGdmM1M2g2M\
      lFSeUNjbUR2Zk40b1BTODh5Q2VVNzgKV3g1U1Y2L2Y5dzMxYnpidjJXK3hwL1ZpblhFVkpXRHh6S\
      WZ2VitsVEhuaVdQUTFad2JVc21mNG9mODUxWUV0aworMUVpc1o0N3JuWVB0SjVuV05zWVVxT3E2R\
      kZ2Nm1Yb1JCeGFla0lvcitBRVZHMGw3aExjM05GQ3ZWWjd2cmFsCnhWZ0hGZWE1Q2FjemFyY0lQW\
      VljS0x4ZVlTd21FcGcvOHd2c0k5RDErb3h5ZmloNHhjejJ2NkpHQ09jM0IzaUYKaGFZTDRQQVRkR\
      085ZHFoamVDV204MmxkQlBsbFV6OVBGRkJTcUwzUnJRT3hEOWEyYnNRek9CMUtiSWY1aEQzeQpId\
      XZ5Y2luUDhBMENBd0VBQWFNak1DRXdEZ1lEVlIwUEFRSC9CQVFEQWdLa01BOEdBMVVkRXdFQi93U\
      UZNQU1CCkFmOHdEUVlKS29aSWh2Y05BUUVMQlFBRGdnRUJBQWI4UWtCaWt3d1RuejBsSnllZ0pET\
      DFOS3ZwRGRMVDEvbDAKdXMrMldvSTZGTTlyWml1VjVHQlNjcVg4cFJsYW1Cc2NOWStWek9zN2RmN\
      Uo2V0MyZ3VadjNSVDB0TWxod3RkNQo2SmkzU2d1WDlnZWJDMkFLU1NFL3BCMkJybkUrWDA5RnpFU\
      VVXbytpemRneTliMXF4em5nWXd2eTJGSTRyMmQ3CmtxZm5SamxRR3Z1YlAyazJNZTBybGZhYUJyY\
      y9XREZCWGNnU3E1WWFUTDZqOXVtRXZ1cVVaMUdWMnk0STNEQlMKWEVXNVRXUjdLV3lpQnlFeU9aU\
      kx1eEJwMVkzeWpPWUhkREYxYUl1RjJCUTVTM0hzd3NsZG05VlIvd2JIWHgxdgpXOHhsV0hRUGo1T\
      2ZPTkpJZ2RpSEtsUklTVkxYU1prQTIydjlvVFBCVStWU1lQc3I4a2s9Ci0tLS0tRU5EIENFUlRJR\
      klDQVRFLS0tLS0K"

users:
- name: "u-5zpk2"
  user:
    token: "kubeconfig-u-5zpk2.c-srzf4:4x6czv52fcf8ctffm8j2c6jvphxphdsd7d2pmzqnnw79qrjb5dmtvh"

contexts:
- name: "aclab"
  context:
    user: "u-5zpk2"
    cluster: "aclab"
- name: "aclab-aclab-rancher2"
  context:
    user: "u-5zpk2"
    cluster: "aclab-aclab-rancher2"
- name: "aclab-aclab-rancher1"
  context:
    user: "u-5zpk2"
    cluster: "aclab-aclab-rancher1"
- name: "aclab-aclab-rancher3"
  context:
    user: "u-5zpk2"
    cluster: "aclab-aclab-rancher3"

current-context: "aclab"
